#symbol-options {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
}
pre {
    font-size: 1rem; /* 出力結果も同じ大きさに */
}
p{
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px) {
    p{
        background-color: black;
            color:green;
        }
    }
    
    @media screen and (max-width: 480px) {
    p{
        background-color: black;
            color:red;
        }
    }
